@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: #DB1B1B;
    --black-100: #2b2b2b;
    --black-200: #262626;
    --black-300: #212121;
    --black-400: #1c1c1c;
    --black-500: #171717;
    --black-600: #121212;
    --black-700: #0d0d0d;
    --black-800: #080808;
    --black-900: #030303;
    --black-1000: #000000;
}